
*{
  margin: 0;
  padding: 0;
}
 
      .ul {
        padding-inline-end: 0;
        display:inline-block;
    list-style-type: none;
  line-height: 100px;
    background-color: #111111;
  }
  .header{
    height: 50px;
    margin: 0;
    text-shadow: #242121;
padding: 20px;
  text-align: center;
          font-size: 30px;
          font-weight: bolder;
         font-family: 'Playfair Display', serif;
          text-decoration: solid;
          background-color: #111111;
  }
  .li {
    font-weight: 800 ;
    color: white;
    float: left;
    height: 100px;
    width: 384px;
  }
  
  .home{
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0px;
    text-decoration: none;
  }
  .home:hover {
    color: red;
    background-color: #242121;
    
  }
  .blic{
    color:white;
    padding: 30px;
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
    background-color: #111111;
  }
  #pp{

    background-color: #c27537;
  }
  .breakinN{
   display: flex;
    padding: 0px;
  }
 
